<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cash.mapper.CashbookMapper">
	<select id="selectIncomeChart" parameterType="com.example.cash.vo.Cashbook">
		select date_part('month', cashbook_date),sum(cashbook_price) cashbookPrice
		from cash.cashbook
		where user_id = 'test30' and date_part('year', cashbook_date) = date_part('year', current_date)
		group by cashbook_info, date_part('month', cashbook_date)
		having cashbook_info = '지출'
	</select>
</mapper>